* {
  margin: 0 0;
}

html {
  font-size: 17px;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif; 
  background: url("../img/01.jpg") no-repeat top center/cover ;/* Image does not repeat */
  color: #fff;
  line-height: 1.6;
  height: 100vh; /* Could be changed back to 100vh*/
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #race_card {
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }

    #race_card > section {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0.1rem 0.5rem 0.5rem black;
    }

    #race_name {
      height: 35%;
      border-radius: 2rem 2rem 0rem 0rem;
      background-color: red;
    }
      #race_name > h3 {
        font-size: 4rem;
        width: 95%;
        text-align: center;
        line-height: 4rem;
        margin: 0 0 ;
      }

    #race_number {
      height: 30%;
      background-color: white;
    }
      #race_number > h3 {
        color: turquoise;
        font-size: 12rem;
        width: 95%;
        margin: 0 0;
        text-align: center;
      }

    #race_info {
      height: 35%;
      border-radius: 0rem 0rem 2rem 2rem;
      background-color: turquoise;
      display: flex;
      flex-direction: column;
    }

    button {
      background: none;
      border: 2px solid;
      font: inherit;
      line-height: 1;
      padding: 1em 2em;
      border-radius: 5%;
    }
    .pulse:hover, 
    .pulse:focus {
      animation: pulse 1s;
      box-shadow: 0 0 0 2em transparent;
    }
    
    @keyframes pulse {
      0% { box-shadow: 0 0 0 0 #072DDB; }
    }
    
    button {  
      color: #000C7A;
      transition: 0.25s;
    }
    
    button:active {
      color: white;
      background: #000C7A;
      border: 3px solid purple;
      animation: pulse 1s;
      box-shadow: 0 0 0 2em transparent;
    }