* {
  margin: 0 0;
}

html {
  font-size: 17px;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif; 
  background: url("../img/01.jpg") no-repeat top center/cover ;/* Image does not repeat */
  color: #fff;
  line-height: 1.6;
  height: 100vh; /* Could be changed back to 100vh*/
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #race_card {
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }

    #race_card > section {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0.1rem 0.5rem 0.5rem black;
    }

    #race_name {
      height: 35%;
      border-radius: 2rem 2rem 0rem 0rem;
      background-color: #0096C4;
      display: flex;
      flex-direction: column;
    }
      #race_name > h3 {
        font-size: 4rem;
        width: 95%;
        text-align: center;
        line-height: 4rem;
        margin: 0 0 ;
        padding-bottom: 1rem;
      }

    #race_number {
      height: 30%;
      background-color: white;
      display: flex;
    }
      #race_number > h3 {
        color: #0096C4;
        font-size: 8rem;
        width: 50%;
        height: 80%;
        padding-bottom: 2rem;
        margin: 1rem 0rem;
        text-align: center;
        border-radius: 1rem;
      }

    #race_info {
      height: 35%;
      border-radius: 0rem 0rem 2rem 2rem;
      background-color: white;
      display: flex;
      flex-direction: column;
    }

    button {
      background: #0096C4;
      color: white;
      font: inherit;
      padding: 1em 2em;
      border-radius: 5%;
      transition: 0.25s;
      border: none;
      box-shadow: 0.2rem 0.2rem 0.5rem black;
    }
    
    
    button:active {
      color: white;
      box-shadow: none;
    }